doctype
html
    head
        title= title
    body
        h1= h1
        form(method='post' id='event-form' action='./reply')
            div
                label(for='name-field') name:
                input(type='text' id='name-field' name='name' required)
            div 
                label(for='email-field') email:
                input(type='email' id='email-field' name='email' required)
            fieldset
                legend Will you be attending?
                div
                    label(for='will-attend-radio') I'll be there!
                    input(type='radio' id='will-attend-radio' name='attendance' value="true" checked)
                div 
                    label(for='will-not-attend-radio') I can't make it
                    input(type='radio' id='will-not-attend-radio' name='attendance' value="false")
            div
                label(for='guestCount') number of guests:
                select(id='guestCount' name='guestCount')
                    each val in [1, 2, 3, 4, 5, 6, 7, 8]
                        option(value=val)=val

            button(type="submit") Submit